<div class="modal-overlay" *ngIf="showPopUp">
  <div class="modal-content">
    <div class="content-wrapper">
      <div class="modal-header">
        <span class="page-title"></span>        
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="onClose()"><i class="icon-cancel"></i></button>
      </div>
      <div class="modal-body">        

        <div class="detail-journal-wrapper">
            <h1>Detail Journal</h1>
        
        </div>      
    </div>
  </div>
</div>