@import "../../../styles/core";

.top-container, .bottom-container {
    display: flex;
    margin: 1em 0.5em;
    position: relative;
    .button-container {
        display: flex;
        position: absolute;
        right: 0;
        .btn {
            width: 200px;
        }
        .add-entry {
            margin-right: 0.5em;
        }
        margin-bottom: 1em;
    }
    .error {
        color: $brand-danger;
    }
}
.journal-list-wrapper {
    margin-top: 2em;   
    .add {
        margin-right: 0.5em;
        margin-left: 0.5em;
    } 
}