@import "styles/variables.scss";

.main-container {
    position: relative;
    .menu {
        background-color: $menu-bg;
        color: $body-bg;
        text-align: right;
        .user-name {
            margin-right: 0.5em;
        }
    }
    .header-image {
        position: fixed;
        top: 3%;
        right: 0.5%;
        z-index: 1;
    }
}

